body {
    background-image:
        linear-gradient(
            to bottom, 
            #e4ecfc, 
            #ecf4fc, 
            #f4f4fc,
            #fcf8fc,
            #fcf4fc
        );
    border:0px;
    padding-top:0px;
    height:649px;
}
#top-div {
    display:block;
    margin:auto;
    background-color:white;
    width:486px;
    height:155px;
    border-left:solid 2px #e3e6e9;
    border-right:solid 2px #e2e3e4;
    border-top:solid 1px #eeeeee;
    border-radius:3px;
    padding-bottom:0px;
}
img {
    display:block;
    margin:auto;
}
#oprf {
    display:block;
    text-align:center;
    text-decoration:none;
    color:#4560b5;
    font-size:19.3px;
    padding-bottom:0px;
    position:relative;
    bottom:0px;
    right:0px;
}
#skyward {
    color:#135383;
    text-decoration:none;
}
#bottom-div {
    display:block;
    margin:auto;
    background-color:#f4f4f4;
    width:486px;
    height:175px;
    border-bottom:solid 2.5px #b6b6b6;
    border-right:solid 2px #e3e6e9;
    border-left:solid 2px #e3e6e9;
    border-top:solid 1px #e2e2e2;
    padding-top:10px;
    border-radius:3px;
}
footer {
    text-align:center;
}
#copywrite {
    color:#828282;
    position:relative;
    top:122px;
    font-family:arial;
    font-size:12px;
}
#skyward:hover {
    text-decoration:underline;
}
#oprf:hover {
    text-decoration:underline;
}
#oprf-pic {
    display:block;
    margin:auto;
    position:relative;
    top:-8px;
}
form {
    text-align:center;
}
#submit {
    background-image:
        linear-gradient(
            to bottom,
            #feffff,
            #f4f6f7,
            #ebeff1
        );
    position:relative;
    right:-96px;
    color:#1b63aa;
    border-color:#80BBE9;
    border-radius:5px;
    width:75.5px;
    top:-12px;
    height:22px;
    border-width:0.3px;
    font-size:11.4px;
}
#forgot-password {
    position:relative;
    right:-219px;
    top:-33.5px;
    color:#4560b5;
    line-height:41px;
    font-family:arial;
    font-size:12px;
    font-weight:normal;
}
#submit:hover {
    background-image:
        linear-gradient(
            to bottom,
            #fefeff,
            #f7f8fd,
            #e7ebf9,
            #e6eaf9,
            #dbe2f7,
            #d8def6,
            #cdd6f3,
            #c7d1f3
        );
    text-decoration:underline;
}
#forgot-password-a {
    text-decoration:none;
}
#forgot-password-a:hover {
    text-decoration:underline;
}
#username:focus {
    background-color:#d0b0ff;
}
#password:focus {
    background-color:#d0b0ff;
}
.version-number {
    position:relative;
    right:-390px;
    top:-106px;
    line-height:38px;
    color:#5e5d5d;
    font-family:arial;
    font-size:11.5px;
    font-weight:normal;
    text-decoration:none;
    letter-spacing:0.5px;
}
#username-label {
    font-family:arial;
    font-size:11.5px;
    font-weight:normal;
    position:relative;
    top:-1px;
    right:-5px;
}
#password-label {
    font-family:arial;
    font-size:12px;
    font-weight:normal;
    position:relative;
    top:-7px;
    right:-1px;
}
#skyward-pic {
    padding-top:10px;
    position:relative;
    right:0px;
    top:-1px;
}
#username {
    width:190px;
    height:22px;
    position:relative;
    top:-1px;
    right:-10px;
    border:solid;
    border-radius:0px;
    border-width:0.5px;
    border-color:#7f9db9;
}
#password {
    position:relative;
    top:-7px;
    right:-6px;
    width:190px;
    height:22px;
    border:solid;
    border-radius:0px;
    border-width:0.5px;
    border-color:#7f9db9;
}
.form-control:valid {
    background-color:#d0ffb0;
    border-color:#7f9db9;
    border:solid
}
